<form class="form-horizontal"
      name="habitantForm"
      novalidate
      ng-controller="habitantEditCtrl as vm">
    <fieldset>
        
              
        vm.habitant: {{vm.habitant}}
        <br /> <br />
        vm.originalhabitant: {{vm.originalhabitant}}<br>
        <br /> <br />
        vm.habitantid: {{vm.habitantId}}
        <br /> <br />
        vm: {{vm}}
        <br /> <br />
        <legend>{{vm.title}}</legend>

        <!-- Name -->
        <div class="form-group"
             ng-class="{'has-error':habitantForm.inputHabitantName.$invalid &&
                                    habitantForm.inputHabitantName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputHabitantName">Habitant Name</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputHabitantName"
                       name="inputHabitantName"
                       type="text"
                       placeholder="Habitant Name (required)"
                       ng-model="vm.habitant.name"
                       required
                       ng-minlength="4"
                       ng-maxlength="12" />
            </div>
            <span class="help-block has-error">
                <span ng-show="habitantForm.inputHabitantName.$error.required">
                    Habitant name is required.
                </span>
                <span ng-show="habitantForm.inputHabitantName.$error.minlength">
                    Habitant name must be at least 4 characters in length.
                </span>
                <span ng-show="habitantForm.inputHabitantName.$error.maxlength">
                    Habitant name cannot exceed 12 characters in length.
                </span>
            </span>
        </div>     
        <!-- Name -->
        <!-- Surname -->
        <div class="form-group"
             ng-class="{'has-error':habitantForm.inputHabitantSurname.$invalid &&
                                    habitantForm.inputHabitantSurname.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputHabitantSurname">Habitant Surname</label>
            <div class="col-md-4">
                <input class="form-control"
                       id="inputHabitantSurname"
                       name="inputHabitantSurname"
                       type="text"
                       placeholder="Habitant Surname (required)"
                       ng-model="vm.habitant.surname"
                       required
                       ng-minlength="4"
                       ng-maxlength="12" />
            </div>
            <span class="help-block has-error">
                <span ng-show="habitantForm.inputHabitantSurname.$error.required">
                    Habitant Surname is required.
                </span>
                <span ng-show="habitantForm.inputHabitantSurname.$error.minlength">
                    Habitant Surname must be at least 4 characters in length.
                </span>
                <span ng-show="habitantForm.inputHabitantSurname.$error.maxlength">
                    Habitant Surname cannot exceed 12 characters in length.
                </span>
            </span>
        </div>
        <!-- Surname -->

        <!-- List of Houses -->
        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputHabitantHouse">Select your House</label>
            <div class="col-md-4">
                <select ng-model="vm.habitant.homeId"
                        ng-change="vm.homeSelect()">                    
                    <option ng-repeat="home in vm.homes"
                            value="{{home.homeId}}"                            >
                        {{home.street}} - {{home.number}}
                    </option>
                </select>
            </div>
        </div>

        <!--<div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputHabitantHouse">Select your House</label>
            <div class="col-md-4">
                <select ng-options="home as home.homeId for home in vm.homes"
                        ng-model="home" ng-change="update()">
                    {{home.street}} - {{home.number}}
                </select>
            </div>
        </div>-->
        <!-- List of Houses -->


        <!-- Management Company from selected House ?-->
        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputHabitantCompany">Your management Company is:</label>
            <div class="col-md-4">
                <input class="form-control"
                       name="inputHabitantCompany"
                       type="text"
                       placeholder="Your company"
                       ng-model="vm.company"
                       value="{{vm.companyId}}"
                       required />
            </div>
        </div>
        <!-- Management Company from selected House -->

        <!-- Apartment -->
        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputHabitantName">Apartment N</label>
            <div class="col-md-4">
                <input class="form-control"
                       name="inputHabitantName"
                       type="text"
                       placeholder="Apartment N"
                       ng-model="vm.habitant.apartment"
                       required />
            </div>
        </div>
        <!-- Apartment -->
        <!-- RegDate -->
        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputCreateDate">Register date</label>

            <div class="col-md-4">
                <div class="form-control">
                    {{vm.habitant.createDate | date}}
                </div>
            </div>
        </div>
        <!-- RegDate -->

        <!-- выбор дома из списка -->
        <!-- выбор дома из списка -->

        <!--получние всех компаний listCrtrl-->
       
        <!-- Save -->
        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="vm.submit()"
                            ng-disabled="habitantForm.$invalid">
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            ng-click="vm.cancel(habitantForm)">
                        Cancel
                    </button>
                </span>
            </div>
        </div><!-- Save -->
        <!-- info Message -->
        <div class="form-group"
             ng-show="vm.message">
            <div class="col-md-6">
                <pre style="font: inherit">{{vm.message}}</pre>
            </div>
        </div>

    </fieldset>
</form>

