<form class="form-horizontal"
      name="managementCompanyForm"
      novalidate
      ng-controller="ManagementCompanyEditCtrl as vm">
    <fieldset>
        <legend>Basic ManagementCompany Information</legend>
        <div class="form-group"
             ng-class="{'has-error':managementCompanyForm.inputName.$invalid &&
                                    managementCompanyForm.inputName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputManagementCompanyName">ManagementCompany Name</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputManagementCompanyName"
                       name="inputManagementCompanyName"
                       type="text"
                       placeholder="ManagementCompany Name (required)"
                       ng-model="vm.managementCompany.name"
                       required
                       ng-minlength="4"
                       ng-maxlength="12" />
            </div>
            <span class="help-block has-error">
                <span ng-show="managementCompanyForm.inputName.$error.required">
                    ManagementCompany name is required.
                </span>
                <span ng-show="managementCompanyForm.inputName.$error.minlength">
                    ManagementCompany name must be at least 4 characters in length.
                </span>
                <span ng-show="managementCompanyForm.inputName.$error.maxlength">
                    ManagementCompany name cannot exceed 12 characters in length.
                </span>
            </span>
        </div>

        <div class="form-group"
             ng-class="{'has-error':managementCompanyForm.inputManagementCompanyId.$invalid &&
                                    managementCompanyForm.inputManagementCompanyId.$dirty}">
            <label class="col-md-2 control-label" for="inputManagementCompanyId">Management Company Id</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputManagementCompanyId"
                       name="inputManagementCompanyId"
                       type="text"
                       placeholder="Company Id (required)"
                       ng-model="vm.managementCompany.managementCompanyId"
                       required>
            </div>
            <span class="help-block has-error"
                  ng-show="managementCompanyForm.inputManagementCompanyId.$invalid ">
                ManagementCompany Id is required
            </span>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputCreateDate">Register date</label>

            <div class="col-md-4">
                <div class="form-control">
                    {{vm.managementCompany.createDate | date }}
                </div>
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="vm.submit()"
                            ng-disabled="managementCompanyForm.$invalid">
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            ng-click="vm.cancel(managementCompanyForm)">
                        Cancel
                    </button>
                </span>
            </div>
        </div>

        <div class="form-group"
             ng-show="vm.message">
            <div class="col-md-6">
                <pre style ="font: inherit">{{vm.message }}</pre>
            </div>
        </div>

    </fieldset>
</form>

