<div class="panel panel-primary"
     ng-controller="managementCompanyListCtrl as vm">
    <div class="panel-heading"
         style="font-size:large">
        Management Company List
    </div>

    <div class="panel-body">
        <table class="table">

            <thead>
                <tr>
                    <td>ID</td>
                    <td>Name</td>
                    <td>Date</td>                   
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="managementCompany in vm.managementCompanies">
                    <td>{{ managementCompany.managementCompanyId}}</td>
                    <td>{{ managementCompany.name }}</td>
                    <td>{{ managementCompany.createDate | date }}</td>                    
                </tr>                
            </tbody>
        </table>        
    </div>

    <div>        
        <div ng-repeat="home in vm.managementCompanyHomes">
            <div>{{ home.homeId}}</div>
            <div>{{ home.street }}</div>
            <div>{{ home.createDate | date }}</div>
            <div>{{ home.managementCompanyId }}</div>
            <div>{{ home.number }}</div>
        </div>
    </div>
</div>

<!--new-->
<div class="panel-group" id="accordion">
    <div class="panel panel-default">
        <div class="panel-heading">Heading 1</div>
        <div class="panel-collapse collapse in">
            <div class="panel-body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis nisl dictum, tempor sapien ut, sagittis neque.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Heading 2</div>
        <div class="panel-collapse collapse">
            <div class="panel-body">
                Cras blandit mattis aliquam. Vestibulum magna ligula, tempor et eros in, ultricies sollicitudin dolor.
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Heading 3</div>
        <div class="panel-collapse collapse">
            <div class="panel-body">
                Vestibulum magna ligula, tempor et eros in, ultricies sollicitudin dolor.
            </div>
        </div>
    </div>
</div>