<form class="form-horizontal"
      name="managementCompanyForm"
      novalidate
      ng-controller="managementCompanyEditCtrl as vm">
    <fieldset>
        <legend>{{vm.title}}</legend>
        <div class="form-group"
             ng-class="{'has-error':managementCompanyForm.inputManagementCompanyName.$invalid &&
                                    managementCompanyForm.inputManagementCompanyName.$dirty}">
            <label class="col-md-2 control-label"
                   for="inputManagementCompanyName">ManagementCompany Name</label>

            <div class="col-md-4">
                <input class="form-control"
                       id="inputManagementCompanyName"
                       name="inputManagementCompanyName"
                       type="text"
                       placeholder="ManagementCompany Name (required)"
                       ng-model="vm.managementCompany.name"
                       required
                       ng-minlength="4"
                       ng-maxlength="12" />
            </div>
            <span class="help-block has-error">
                <span ng-show="managementCompanyForm.inputManagementCompanyName.$error.required">
                    Management Company name is required.
                </span>
                <span ng-show="managementCompanyForm.inputManagementCompanyName.$error.minlength">
                    Management Company name must be at least 4 characters in length.
                </span>
                <span ng-show="managementCompanyForm.inputManagementCompanyName.$error.maxlength">
                    Management Company name cannot exceed 12 characters in length.
                </span>
            </span>
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label"
                   for="inputCreateDate">Register date</label>

            <div class="col-md-4">
                <div class="form-control">
                    {{vm.managementCompany.createDate | date}}
                </div>
            </div>
        </div>

        <div class="form-group"
             ng-controller="managementCompanyListCtrl as dm">

            <label class="col-md-2 control-label"
                   for="SelectAction">
                Select Action
            </label>
            
            <div class="col-md-2">
                <div class="form-control">
                    <select ng-model="vm.id" id="SelectAction">
                        <option value="0" selected>Create new</option>
                        <option ng-repeat="company in dm.managementCompanies"
                                value="{{company.managementCompanyId}}">
                            Edit {{company.name}}
                        </option>
                    </select>
                </div>
            </div>

            <button class="btn btn-primary col-md-2"
                    style="width:80px;margin-right:10px"
                    ng-click="vm.select()">
                Select
            </button>
        </div>



        <div class="form-group">
            <div class="col-md-4 col-md-offset-2">
                <span>
                    <button class="btn btn-primary"
                            style="width:80px;margin-right:10px"
                            ng-click="vm.submit()"
                            ng-disabled="managementCompanyForm.$invalid">
                        Save
                    </button>
                </span>
                <span>
                    <button class="btn btn-default"
                            style="width:70px"
                            ng-click="vm.cancel(managementCompanyForm)">
                        Cancel
                    </button>
                </span>
            </div>
        </div>

        <div class="form-group"
             ng-show="vm.message">
            <div class="col-md-6">
                <pre style="font: inherit">{{vm.message}}</pre>
            </div>
        </div>

    </fieldset>
</form>

